.div {
    border: 2px solid black;
    width: 50vw;
    height: auto;
    padding: 5vw;
    margin: 5vw;
}

.maindiv {
    border: solid 3px olive;
    width: 40vw;
    height: 30vw;
}

.frmDiv {
    background-color: olive;
    width: 40vw;
    height: 25vw;
    color: antiquewhite;
}

.stpDiv {
    display: flex;
    flex-direction: row;
    padding: 2rem;
    text-align: center;
}

.step {
    margin: 2rem;
    border-radius: 25px;
    background-color: olive;
    color: antiquewhite;
}

.btn {
    margin: 2rem;
    background-color: olive;
    color: antiquewhite;
}