.pHello {
    color: salmon;
    font-size: xx-large;
}

.basic {
    color: white;
    border: black 2px solid;
}

.big {
    background-color: darkslategrey;
    font-size: 180px;
}

.small {
    background-color: darkorange;
    font-size: 60px;
}